/* line 10, ../scss/main.scss */
body {
  background: #b5d5e8;
}
/* line 12, ../scss/main.scss */
body header {
  font-familyt: Helvetica Neue, Helvetica, Helvetica, Arial, sans-serif;
  font-size: 2em;
  font-weight: bold;
  margin-bottom: 50px;
}
/* line 19, ../scss/main.scss */
body .row {
  max-width: 75em;
}
/* line 24, ../scss/main.scss */
body .items .items-list .item {
  background: #e6f3ff;
  padding: 10px;
  margin: 15px 0;
}
/* line 28, ../scss/main.scss */
body .items .items-list .item img {
  margin-right: 20px;
  height: 128px;
  width: 128px;
}
/* line 33, ../scss/main.scss */
body .items .items-list .item .item-info {
  position: absolute;
  top: 0px;
  left: 158px;
}
/* line 38, ../scss/main.scss */
body .items .items-list .item .item-info h4, body .items .items-list .item .item-info p {
  margin: 0;
}
/* line 43, ../scss/main.scss */
body .items .items-list .item form fieldset {
  overflow: hidden;
  *zoom: 1;
  margin: 0;
  padding: 0;
  border: 0;
}
/* line 48, ../scss/main.scss */
body .items .items-list .item form fieldset label {
  font-size: 1.2em;
  font-weight: bold;
  display: inline;
}
/* line 53, ../scss/main.scss */
body .items .items-list .item form fieldset .amount {
  display: inline;
  width: 75px;
  float: right;
}
/* line 59, ../scss/main.scss */
body .items .items-list .item form .button {
  width: 100%;
}
/* line 67, ../scss/main.scss */
body .cart {
  background: #e6f3ff;
}
/* line 69, ../scss/main.scss */
body .cart .cart-length {
  padding: 15px;
  text-align: center;
  border-bottom: 1px solid;
  margin-bottom: 25px;
}
